@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

.desktop-only {
  display: none;
}

body {
  font-family: lato;
  font-size: 20px;
  color: #272a31;
  color: #ec5242;
  color: #d3d3d3;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
